<div [@routerTransition]>
  <app-page-header [heading]="'门店'"></app-page-header>
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-muted">门店管理
        <button class="btn btn-sm btn-outline-primary" (click)="open(content, null)"><i class="fa fa-plus"></i> 添加</button>
      </h2>

      <table class="table table-sm">
        <thead>
        <tr>
          <th>门店名称</th>
          <th>门店地址</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let o of hospitals">
          <td>{{o.Name}}</td>
          <td>{{o.Address}}</td>
          <td>
            <a class="btn btn-sm btn-link" routerLink="." (click)="open(content, o)">修改</a>
            <a class="btn btn-sm btn-link" routerLink="." (click)="delete(o)">&times;</a>
          </td>
        </tr>
        </tbody>
      </table>
      <ngb-pagination [collectionSize]="total"
                      [(page)]="page"
                      [maxSize]="5"
                      [rotate]="true"
                      [ellipses]="true"
                      [boundaryLinks]="true"
                      (pageChange)="pageChanged($event)"
                      class="d-flex justify-content-end"></ngb-pagination>
    </div>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">编辑医院信息</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label class="col-form-label" for="hospital_name">医院名称</label>
          <input id="hospital_name" class="form-control form-control-sm" [(ngModel)]="hos.Name" placeholder="请输入医院名称" name="hospital_name">
        </div>
        <div class="form-group">
          <label class="col-form-label" for="hospital_addr">医院名称</label>
          <input id="hospital_addr" class="form-control form-control-sm" [(ngModel)]="hos.Address" placeholder="请输入医院地址" name="hospital_addr">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="save()">保存</button>
    </div>
  </ng-template>
</div>
