<div [@routerTransition]>
  <app-page-header [heading]="'门店'"></app-page-header>
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-muted">已维护门店</h2>
      <table class="table table-sm">
        <thead>
        <tr>
          <th>门店名称</th>
          <th>门店地址</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let o of pageData.rows">
          <td>{{o.Name}}</td>
          <td>{{o.Address}}</td>
        </tr>
        </tbody>
      </table>
      <ngb-pagination [collectionSize]="total"
                      [(page)]="page"
                      [maxSize]="5"
                      [rotate]="true"
                      [ellipses]="true"
                      [boundaryLinks]="true"
                      (pageChange)="pageChanged($event)"
                      class="d-flex justify-content-end"></ngb-pagination>
    </div>
  </div>
</div>
