<div [@routerTransition]>
  <app-page-header [heading]="'数据报表'"></app-page-header>
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-muted">剩余库存</h2>
      <form class="form-inline">
        <div class="form-group mb-2">
          <label for="shop" class="sr-only">库房</label>
          <input type="text" class="form-control" id="shop" placeholder="所在门店">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="bar" class="sr-only">条码</label>
          <input type="text" class="form-control" id="bar" placeholder="商品条码">
        </div>
        <div class="form-group mb-2">
          <label for="drug_name" class="sr-only">商品名称</label>
          <input type="text" class="form-control" id="drug_name" placeholder="商品名">
        </div>
        <button type="button" class="btn btn-primary mb-2">搜索</button>
      </form>
      <table class="table table-sm">
        <thead>
        <tr>
          <th>所在库</th>
          <th>商品类型</th>
          <th>条码</th>
          <th>商品名</th>
          <th>售价</th>
          <th>库存</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let o of rows">
          <td>{{o.shop}}</td>
          <td>{{o.classify}}</td>
          <td>{{o.barcode}}</td>
          <td>{{o.drug_name}}</td>
          <td>{{o.sell_price}}</td>
          <td>{{o.left_num}}</td>
          <td><a routerLink="edit/{{o.id}}">入库详情</a></td>
        </tr>
        </tbody>
      </table>
      <ngb-pagination [collectionSize]="total"
                      [(page)]="page"
                      [maxSize]="5"
                      [rotate]="true"
                      [ellipses]="true"
                      [boundaryLinks]="true"
                      (pageChange)="pageChanged($event)"
                      class="d-flex justify-content-end"></ngb-pagination>
    </div>
  </div>
</div>
